<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link href="bootstrap/theme.css" rel="stylesheet">
</head>

<body>
  <div class="container theme-showcase" role="main">

    <% include ../partials/header %>
      <form class="form-signin" action="/signin" method="post" enctype="application/x-www-form-urlencoded">
        <h2 class="form-signin-heading">Sign up</h2>
        <label for="email">Correo:</label>
        <input type="text" class="form-control" name="email" />
        <label for="password">Correo:</label>
        <input type="password" class="form-control" name="password" />


        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>
  </div>
  <% include ../partials/jsblock %>
</body>

</html>
